@media screen and (max-width: 425px) {
  /* @code by Yed@ for the user experience and my pleasure : transitions for responsive find on : https://www.youtube.com/watch?v=d3eXakVNtuo */
  * {
    transition: all 1500ms ease;
  }
  /* body for small screen phone size */
  body {
    width: 320px;
    margin: 0 auto;
  }
  /*  to find "Hébergement et Activité" at the bottom of the log as on the model  */
  #upnav {
    order: 1;
    flex-basis: 100%;
  }
  /*  to find the blue bar at the bottom as the model  */
  #hebe {
    width: 50%;
    border-top: none;
    border-bottom: solid 3px blue;
  }
  /*  to find the ligtgray bar at the bottom as the model  */
  #acti {
    width: 50%;
    border-top: none;
    border-bottom: solid 3px lightgray;
  }
  /* -------end header responsive----------- */
  /* ------start search section responsive---- */
  /* to center search bar */
  #allform {
    margin: 0 0 0 1.5em;
  }
  /* smaller search bar */
  #case {
    width: 180px;
  }
  /* to make disappear large submit button */
  #bouton {
    display: none;
  }
  /* to show smaller button */
  #bouton-small {
    display: initial;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    background-color: #0065fc;
    color: white;
    margin-left: -12px;
    border: none;
  }
  /* ------end search section resposive---- */
  /* ------start filtersection resposive---- */
  /* full size for nothing in front */
  #filter {
    flex-basis: 100%;
  }
  /* display column is nicer */
  .main-filter-box {
    display: flex;
    flex-direction: column;
  }
  /* ------end filtersection resposive---- */
  /* ------start result aside section---- */
  /* smaller boxes */
  .result {
    width: 330px;
  }
  .pickbox {
    width: 300px;
    height: 220px;
  }
  .aside-box {
    width: 320px;
  }
  /* to centered */
  #pop-title {
    margin-bottom: 1em;
  }
  .poppick {
    margin: 0;
  }
  /* to make the fa stay inline */
  .fa-chart-line {
    margin-left: 3em;
  }
}
@media all and (min-width: 426px) and (max-width: 1023px) {
  /* for the user experience and my pleasure : transitions for responsive find on : https://www.youtube.com/watch?v=d3eXakVNtuo */
  * {
    transition: all 1500ms ease;
  }
  /* body for small screen tablet size */
  body {
    max-width: 750px;
  }
  /* to keep inline header  */
  #logodiv {
    flex-basis: 30%;
  }
  /* layout adjustents */
  #acti {
    margin-left: 5em;
  }
  /* largeur box */
  .main-filter-box {
    width: 100%;
  }
  /* icon on right */
  .fa-chart-line {
    margin-left: 22em;
  }
  /* change the box style */
  .aside-box {
    display: flex;
    flex-direction: row;
  }
  /* horizontal sizing */
  #aside_for_flex {
    width: 750px;
    height: 300px;
  }
  /* change the boxes size */
  .poppick {
    width: 200px;
    width: 210px;
    min-height: 130px;
  }
  /* end menu stay inline */
  .end_menu {
    margin: 0;
  }
}
