@font-face {
  /* Définition des nouvelles polices nommées Raleway */
  font-family: "Raleway";
  src: url("font/Raleway-VariableFont_wght.ttf");
  font-family: "Ralewayitalic";
  src: url("font/Raleway-Italic-VariableFont_wght.ttf");
}

body {
  background-color: lightpink;
}
#page-wrapper {
  width: 1280px;
  background-color: khaki;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: lawngreen;
}

.container li {
  margin-left: 3em;
  list-style: none;
}
