@font-face {
  /* Définition des nouvelles polices nommées Raleway */
  font-family: "Raleway";
  src: url("font/Raleway-VariableFont_wght.ttf");
  font-family: "Ralewayitalic";
  src: url("font/Raleway-Italic-VariableFont_wght.ttf");
}

#banner {
  display: flex;
}
#topnav {
  display: flex;
}
li {
  margin-left: 20px;
  display: block;
}
#filter_nav {
  display: flex;
}
.filter {
  display: block;
  margin: auto;
  margin-left: 20px;
}
#result_pop {
  width: 60%;
  background-color: lightgrey;
}
#result {
  display: flex;
}
.img_result {
  width: 120px;
  height: 70px;
}
